.card-holder{
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.ch-card{
    flex-grow: inherit;
    margin: 5px;
    display: inherit;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #ccc;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}

.ch-info{
    width: 100%;
    list-style-type: none;
    padding: 5px;
}

.ch-info li{
    padding: 10px;
}

.ch-info li:nth-child(2){
    padding: 0 10px 0 10px;
}

.ch-title{
    font-size: 22px;
    color: #FF4E00;
}

.ch-date{
    color: #763C87;
}

.ch-img {
    width: 50%;
    margin: 0 auto;
    display: none;
}

/* media queries */

@media (min-width: 1440px) {
    .ch-card{
        height: 250px;
    }
    .ch-img{
        display: block;
    }
}